# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

## cocotb
sim_build/

## macOS
.DS_Store

## Vivado
*.log
*.jou
vivado*.str
vivado/
bd/**/*.bda
bd/**/*.bxml
bd/**/*.ui
bd/**/*.xml
ip_repo/edit*
bd/*/ip/**
bd/*/sim/**
bd/*/synth/**
bd/*/design_*_ooc.xdc
